.navbar-collapse {
	nav {
		> a {
			color: bisque;
			text-decoration: none;
			width: 166px;
			padding: .5rem .1rem;
			&:hover {
				color: darken($color: bisque, $amount: 15%)
			}
			&.active {
				color: yellowgreen;
				font-weight: bold;
			}
		}
	}
}
